*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header{
    width: 100%;
    height: 100px;
    line-height: 100px;
    text-align: center;
    text-transform: capitalize;
    color: #dc155d;
    font-size: 20px;
}
body {
    width: 80%;
    margin: 0 auto;
    
}
#lorem {
    text-align: center;
}
.container::after {
    content: "";
    display: table;
    clear: both;
}
.container {
    margin-top: 30px;
}
.rectangle {
    float: left;
    width: calc(33.33% - 20px);
    height: 70px;
    margin-right: 20px;
    background-color: #0d0c12;
    box-shadow: 0 4px 8px rgba(1, 1, 1, 0.9);
    margin-bottom: 20px;
}
.content {
    height: 100%;
    /* padding: 20px; */
    /* text-align: center; */
}
img {
    float: left;
    max-width: 100%;
    height: 70px;
    display: block;
    margin-right: 10px;   
}
h2 {
    font-size: 16px;
    color: white;
}
div > p {
    font-size: 14px;
    color: white;
}
div > a {
    font-size: 14px;
    color: #59b3dc;
    text-decoration: none;
}
h1,
h2,
p,
a {
    font-family: 'Concert One', sans-serif;
}
